/* Navbar */

.navbar{
    background-color: white;
    height: 80px;
}

.login-button {
    background-color: transparent;
    border: 2px solid rgba(17, 63, 103, 1); 
    color: rgba(17, 63, 103, 1); 
    font-size: 15px;
    padding: 8px 80px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s; 
    cursor: pointer;
}

.login-button:hover{
    background-color: rgba(17, 63, 103, 1);
    color: white;
    border: 2px solid rgba(17, 63, 103, 1); 

}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: rgba(17, 63, 103, 1);
    font-weight: 600;
    position: relative;
    font-size: 20px;
}

.nav-link:hover, .nav-link.active{
    color: #000;
    font-weight: 600;
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: rgba(17, 63, 103, 1);
    visibility: hidden;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    color: rgba(17, 63, 103, 1);
    visibility: visible;
}

.navbar-brand{
    font-weight: 500;
    color: rgb(38, 175, 196);
    font-size: 24px;
    transition: 0.3s color;
}







/* Why choose us */
.card {
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.card-body {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-title {
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    transition: bottom 0.3s ease;
}

.card-body p {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: justify;
    padding: 20px;
    transition: top 0.3s ease;
}

.card-body img {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 50%;
    left: 38%;
    transition: bottom 0.3s ease;
}

.card-body:hover .card-title {
    bottom: 60%;
}

.card-body:hover p {
    top: 40%;
}

.card-body:hover img {
    bottom: 70%;
}




/* our feature */

.kotakputih {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: none;
}


/* About Us */



/* our team */
.bulat{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: black;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

