 /* Sidebar */
 #sidebar {
    background-color: white;
    height: 100vh;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 1;

}

#sidebar .nav-link {
    color: rgba(171, 171, 171, 1);
}

#sidebar .nav-link:hover {
    background-color: #f8f9fa;
    color: rgba(200, 204, 244, 1);
}

#sidebar .nav-link.active {
    background-color: #f8f9fa;
    color: rgba(88, 95, 233, 1);
}

.submenu {
    display: none;
    padding-left: 20px;
}

#sidebar .active {
    background-color: #555;
}

main {
    padding-top: 20px;
    margin-left: 260px;
}

body {
    background-color: rgba(230, 232, 244, 1);
}


/* Kotak table */
.container {
    margin-top: 50px;
    margin-left: 230px;
    overflow: hidden;
    max-height: 600px;
    padding-bottom:50px;
}

.inner-container {
    border: 1px solid #ddd;
    /* box-shadow; */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom:100px;
    background-color: white;
    width:100%;
    padding-bottom:50px;
    margin-bottom:50px;
}

.table-container {
    width: 100%;
    padding-bottom:50px;
}

.table {
    width: 100%;
    padding-top:20px;
}

/* Nav */
nav.navbar {
    background-color: rgba(88, 95, 233, 1);
}

nav.navbar a {
    color: white;
}

nav.navbar a:hover {
    color: red;
}
/* button */
.buttonDel{
    padding: 5px 10px;
    background-color:red;
    border: 2px solid red;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    padding-left:20px;
    padding-right:20px;

}
.buttonDel:hover{
    padding: 5px 10px;
    border: 2px solid red;
    background-color:transparent;
    border-radius: 5px;
    color:red;
    cursor: pointer;
    padding-left:20px;
    padding-right:20px;
}

.button{
    padding: 5px 10px;
    background-color:rgba(88, 95, 233, 1);
    border: 2px solid rgba(88, 95, 233, 1);
    color:white;
    border-radius: 5px;
    cursor: pointer;
    padding-left:20px;
    padding-right:20px;

}
.button:hover{
    padding: 5px 10px;
    border: 2px solid rgba(88, 95, 233, 1);
    background-color:transparent;
    border-radius: 5px;
    color:rgba(88, 95, 233, 1);
    cursor: pointer;
    padding-left:20px;
    padding-right:20px;
}


