/* Style untuk tombol */
.btn-custom {
    display: block;
    width: 100%;
    max-width: 200px;
    height: 150px;
    background-color: rgba(17, 63, 103, 1);
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    padding-top: 45px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-custom p {
    margin: 0;
    line-height: 50px;
}

.btn-custom:hover {
    background-color: rgba(17, 63, 103, 0.8);
    transform: scale(1.05);
}
